
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Inizializzazione passo passo</h1>
    
  </div><!-- End Page Title -->
<br><br>
 <!-- SmartWizard html -->
 <div id="smartwizard" dir="rtl-">
  <ul class="nav nav-progress">

      <li class="nav-item">
        <a class="nav-link" href="#step-0">
          <div class="num">0</div>
          Cliente
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#step-1">
          <div class="num">1</div>
          Nuove Aziende
        </a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#step-2" aria-disabled="true">
          <span class="num">2</span>
          Associa Aziende al Cliente
        </a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link" href="#pippo" aria-disabled="true">
          <span class="num">2</span>
          Credenziali Accesso 
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " href="#step-4" aria-disabled="true">
          <span class="num">3</span>
          Carica Fornitori e Clienti
        </a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link  " href="#step-5" aria-disabled="true">
          <span class="num">5</span>
          Banche
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#step-6" aria-disabled="true">
          <span class="num">6</span>
          Confirm Order
        </a>
      </li>
      -->
  </ul>

  <div class="tab-content">

    <!-- CLIENTE -->

    <div id="step-0" class="tab-pane" role="tabpanel" aria-labelledby="step-0">
      <h4>
      <p>Inserisci un nuovo cliente.<br>Altrimenti clicca "Next" e vai al passo successivo.</p>
    </h4>
      <form id="nuovocliente" method="post" action="" >
        {% csrf_token %}
        {{formcliente}}
      <button type="submit" class="btn btn-primary btn-sm"> Inserisci </button>
    </form>

    </div>

    <!-- AZIENDE -->

    <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
      <div class="row">
        <div class="col-4">
          <h4>
          <p>Inserisci una o piu' Aziende </p>
        </h4>
        </div>
        <div class="col-5"></div>
        <div class="col-3">
         <h4> Aziende Inserite: </h4>
        </div>
      </div>
      

         <form id="insertazienda" class="form-control" action="/insertazienda" method="POST" enctype="multipart/form-data"  > 
          {% csrf_token %}

           <div class="row sceglicliente">
              <div class="col-4"">
              Scegli il Cliente, proprietario dell'Azienda/e che devi inserire
              </div>
              <div class="col-4"">

                <fieldset class="border p-2">
                  <legend  class="float-none w-auto">Cliente/Proprietario</legend>

                  
                  <div class="autocomplete">
                    <input type="text" name="cliente" id="searchInput" required placeholder="Inserisci un carattere...">
                    <input type="hidden" name="cliente_id" id="searchInputID" >
                    <ul id="suggestions"></ul>
                  </div>

                    
                </fieldset>
              </div>
            </div>
            <!--
            <div class="row  bg-primary text-white showcliente d-none"> 
              <div class="col-7 text-center mt-2" >
                <h5>La/e  Azienda/e inserite saranno associate  al cliente </h5> 
              </div>
              <div class="col-5 text-start mt-2">
               <h4> <span id="clienteinserito">CIVERA </span> </h4>
              </div>
              <input id="inputcliente" type="hidden" name="cliente_id" value="">
            </div>
            -->
            <br/><br/>
            I campi con (*) sono richiesti e devono essere inseriti per poter proseguire.
            <br/>
            <br/>
            <br/>
            <div class="row">

            <div class="col-4">
               <label>Nome (*)</label> 
                {{ form.nome  }} 
                <br>
                <label>CODCF (*) <br>
                  Deve essere unico. Se questo codice azienda esiste gia`, ne verra` generato uno aggiungendo il suo numero identificativo.
                </label> 
                {{ form.codcf  }} 
                <br>
                <label>Ragione Sociale </label> 
                {{ form.ragione_sociale  }} 
                <label>Codice Fiscale </label> 
                {{ form.codfisc  }} 
                <label>Partita IVA </label> 
                {{ form.partiva  }} 
                <label>Nome Persona </label> 
                {{ form.nome_pf  }} 
                <label>Cognome Persona </label> 
                {{ form.cogn_pf  }} 
                <label>Email (*) </label> 
                {{ form.email  }} 
                <br>
                <label>Resp Rap </label> 
                {{ form.resprap  }} 
                <label>F Memo </label> 
                {{ form.fmemo  }} 
                 
            </div>
              <div class="col-5">
                <label>Logo </label> 
                {{ form.logo  }} 

                <label>Descrizione </label> 
                {{ form.descrizione  }} 
                <label>Indirizzo </label> 
                {{ form.indirizzo  }} 
                <label>CAP </label> 
                {{ form.cap  }}  
                <label>Local  </label> 
                {{ form.local  }}  
                <label>Provincia  </label> 
                {{ form.prov }} 
                <label>Telefono </label> 
                {{ form.telefono }} 
                <label>Cellulare </label> 
                {{ form.cellulare  }} 
                <label>Pec </label> 
                {{ form.pec }} 
                <label>FAX </label> 
                {{ form.fax }} 
                 
              </div>
              <div class="col-3">
                <ol id="list-aziende-inserite" class="list-group list-group-numbered ">
                 
                </ol>
              </div>
            
          </div>
          
            
            <br><br>
              <button class="btn btn-primary" type="submit">Send</button>
              <Button type="reset" class="btn btn-warning">RESET </Button>
            </form>
            <br/>
            <br/>
            <br/>
    </div>
 
    <!-- ASSOCIA AZIENDE A CLIENTE
    <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
      <p>Associa un cliente alle Aziende inserite </p>

      <form id="associaclienteazienda" method="post" action="" >
        {% csrf_token %}
       form
      <button type="submit" class="btn btn-primary btn-sm"> Send </button>
      </form>

    </div>
     -->
    <!-- CREA ACCOUNT DI ACCESSO PER AZIENDE -->
    <div id="pippo" class="tab-pane" role="tabpanel" aria-labelledby="pippo">
      <form id="createuserazienda" class="form-control" action = "" method = "post">

      <div class="row">
        <div class="col-5">
          <h4>Crea Account di Accesso </h4><br><br>
          {% csrf_token %}
          <label>Email  </label> 
          {{ formutenti.email  }} 
          <!--
          <label>Username  </label> 
          {{ formutenti.username  }} 
           -->
          <br>
          <label>Password  </label> 
          {{ formutenti.password  }} 
          <br>
          <label>Confirm Password</label>
          <input type="password" name="confirmpassword" maxlength="150" class="form-control"  id="confirmpassword">
          <br>
          <div id="message"></div>
          <label>Cognome  </label> 
          {{ formutenti.last_name  }} 
          <label>Nome  </label> 
          {{ formutenti.first_name  }} 
         
         
          
        
        </div>
        <div class="col-2">

        </div>
        <div class="col-5">
          <h4>
          Permetti l'accesso alle  Aziende appena inserite :
        </h4>
          <br><br>
          <div id="listaaziende" class="aziende">
            <!--
            <div class="form-check">
              Azienda 2
              <label class="form-check-label" for="aziendaCheck1">
              </label>
              <input name="azienda" class="form-check-input" value="id2" type="checkbox" id="aziendaCheck2">
            </div>
            -->
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>

    </div>

    <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
        <p>Carica i fornitori e clienti in formato Excel</p>    
        <div class="row">
          <form id="form-fornitori" class="row row-cols-1 ms-5 me-5 needs-validation" novalidate>
          <div class="col-8">
            <label for="filefornitori" class="form-label">Fornitori</label>
            <input type="file" class="form-control" id="filefornitori" placeholder="1234 Main St" required="">
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>
          <div class="col-4">
            <br/>

            <button type="submit" class="btn btn-primary btn-sm">Carica</button>
            <button type="reset" class="btn btn-warning btn-sm">RESET</button>
          </div>
        </form>
        </div>
        <div class="row">
          <form id="form-clienti" class="row row-cols-1 ms-5 me-5 needs-validation" novalidate>

          <div class="col-8">
              <label for="fileclienti" class="form-label">Clienti</label>
              <input type="file" class="form-control" id="fileclienti" placeholder="1234 Main St" required="">
           
              <div class="valid-feedback">
              Looks good!
              </div>
            
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>

          <div class="col-4">
<br/>
            <button type="submit" class="btn btn-primary btn-sm">Carica</button>
            <button type="reset" class="btn btn-warning btn-sm">RESET</button>
          </div>
          </form>  
        </div>
      </div>
      
      
  </div>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>


<br /> &nbsp;
</div>





<section class="section">


    

  </section>

</main><!-- End #main -->
