 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed " href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

     

    

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#aziende-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Aziende</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="aziende-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/ordini/list">
              <i class="bi bi-circle"></i><span>Lista Aziende</span>
            </a>
          </li>
          <li>
            <a href="/ordini/permagazzino/list">
              <i class="bi bi-circle"></i><span>Inserisci Nuova Azienda</span>
            </a>
          </li>
          <li>
            <a href="/ordini/damagazzino/list">
              <i class="bi bi-circle"></i><span>Crea Utenti per Azienda</span>
            </a>
          </li>
         
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#personale-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Personale</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
      <ul id="personale-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/personale/list">
          <i class="bi bi-people"></i>
          <span>Lista Personale</span>
        </a>
      </li>

      </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#clienti-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Clienti Commesse</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="clienti-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/ordini/list">
              <i class="bi bi-circle"></i><span>Nuovo Cliente</span>
            </a>
          </li>
          
          <li>
            <a href="/ordini/damagazzino/list">
              <i class="bi bi-circle"></i><span>Lista Clienti</span>
            </a>
          </li>
        </ul>
      </li>

      <!--

      <li class="nav-item">
        <a class="nav-link collapsed" href="/fatture/list">
          <i class="bi bi-currency-euro"></i>
          <span>Fatture</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/personale/list">
          <i class="bi bi-people"></i>
          <span>Personale</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/fornitori/list">
          <i class="bi bi-envelope"></i>
          <span>Fornitori</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/clienti/list">
          <i class="bi bi-envelope"></i>
          <span>Clienti</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/magazzino/list">
          <i class="bi bi-bricks"></i>
          <span>Magazzino</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/documenti/list">
          <i class="bi bi-envelope"></i>
          <span>Documenti</span>
        </a>
      </li>
    -->

    </ul>

  </aside><!-- End Sidebar-->
