
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Aziende</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Aziende</a></li>
        <li class="breadcrumb-item active">Lista</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


 <table id="example" class="display table table-bordered table-striped dataTable">
  <thead>
    <tr>
        <th>Nome</th>
        <th>codcf</th>
        <th>Ragione Sociale</th>
        <th>Codice Fiscale</th>
        <th>Email</th>
        <th> Proprietario </th>
        <th> Utente </th>
    </tr>
</thead>
<tbody>
{% for one in aziende %}
<tr>
  <td>{{one.nome}}</td>
  <td>{{one.codcf}}</td>
  <td>{{one.ragione_sociale}}</td>
  <td>{{one.codice_fiscale}}</td>
  <td>{{one.email}}</td>
  <td> {{one.cgc_aziende.all.0.cognome}}
  </td>
  <td>{{one.aziendauser.all.0.user}}</td>
  <!--
  <td> 
    
    <button onclick="aggiungiAzienda({{one.id}})" type="button" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Aggiungi Azienda"><i class="bi bi-plus-circle"></i></button>
    
    &nbsp;
    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Elimina Cliente e Aziende"><i class="bi bi-trash"></i></button>

  </td>
-->
</tr>

{% endfor %}

</tbody> 


</table>

<br /> &nbsp;
</div>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<section class="section">
<div class="row">
  <div class="col-5">
    <!--
    <form class="form-control" action = "" method = "post">
      {% csrf_token %}
      {{form.as_table}}
      <button class="btn btn-primary" type="submit">Send</button>
  </form>
  -->
  </div>
  <div class="col-5">
    Crea Account di Accesso 
    <!--
    <form class="form-control" action = "" method = "post">
      {% csrf_token %}
      {{formutenti}}
      <button class="btn btn-primary" type="submit">Send</button>
  </form>
    -->
  </div>
</div>
  
<br><br><br>
<br><br><br>
<br><br><br>
  Azienda PORCA: 
  Token : 

    <div class="row align-items-top">
      
      
      {% for a in aziende %}
      
      <div class="col-xl-3">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <h5>{{a.nome}} AAAA</h5>
            <img src="/static/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <h6>{{a.ragione_sociale}}</h6>
<!--
            <div class=" mt-2">
              <a href="#" class="">{{a.banca}}</i></a>
              <a href="#" class="">{{a.email}}</a>
             
            </div>
            -->
            <form method="get" action="/selectazienda/{{a.id}}" >
              {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">>></button>
          </form>
          </div>
        </div>
       
      </div>
   
      
      {% endfor %}
    </div>

    </div>
  </section>

</main><!-- End #main -->


 <!-- Aggiungi Azienda modal content -->
 <div id="aggiungiaziendamodal" class="modal fade" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" >
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header">
             <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
             <button type="button" class="btn-close" data-bs-dismiss="modal"
                 ></button>
         </div>
         <div class="modal-body">
             <h6>Text in a modal</h6>



             <div class="POLLO">
              <div class="form-group">
                <label for="input-datalist">Timezone</label>
                <input type="text" class="form-control" placeholder="Azienda" list="list-timezone" id="input-datalist">
                <datalist id="list-timezone">
                  {% for one in aziende %}
                    <option>{{one.nome}}</option>
                    {% endfor %}
                    <!--
                    <option>Asia/Aqtau</option>
                    <option>Asia/Baghdad</option>
                    <option>Asia/Barnaul</option>
                    <option>Asia/Chita</option>
                    <option>Asia/Dhaka</option>
                    <option>Asia/Famagusta</option>
                    <option>Asia/Hong_Kong</option>
                    <option>Asia/Jayapura</option>
                    <option>Asia/Kuala_Lumpur</option>
                    <option>Asia/Jakarta</option>
                    -->
                </datalist>
            </div>

             </div>
             <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Select</label>
              <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">Open this select menu</option>
                  {% for one in aziende %}
                  <option value="one.id">{{one.nome}}</option>
                  {% endfor %}
                 
                </select>
              </div>
            </div>
            
        </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-light"
                 data-bs-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Save changes</button>
         </div>
     </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
